# IDS ML Project

In [1]:
import pandas as pd
import numpy as np
from pandas import read_csv

In [4]:
# Importation data
data = pd.read_csv('C:\\Users\\admin\\Desktop\\Studies\\4ème\\MachineLeaning\\MLProject\\KDDTrain+.txt')
print(data)

        0  tcp  ftp_data   SF   491   0.1  0.2  0.3  0.4  0.5  ...  0.17  \
0       0  udp     other   SF   146     0    0    0    0    0  ...  0.00
1       0  tcp   private   S0     0     0    0    0    0    0  ...  0.10
2       0  tcp      http   SF   232  8153    0    0    0    0  ...  1.00
3       0  tcp      http   SF   199   420    0    0    0    0  ...  1.00
4       0  tcp   private  REJ     0     0    0    0    0    0  ...  0.07
...    ..  ...       ...  ...   ...   ...  ...  ...  ...  ...  ...   ...
125967  0  tcp   private   S0     0     0    0    0    0    0  ...  0.10
125968  8  udp   private   SF   105   145    0    0    0    0  ...  0.96
125969  0  tcp      smtp   SF  2231   384    0    0    0    0  ...  0.12
125970  0  tcp    klogin   S0     0     0    0    0    0    0  ...  0.03
125971  0  tcp  ftp_data   SF   151     0    0    0    0    0  ...  0.30

        0.03  0.17.1  0.00.6  0.00.7  0.00.8  0.05  0.00.9   normal  20
0       0.60    0.88    0.00    0.00    0.00  0.00    0.00   normal  15
1       0.05    0.00    0.00    1.00    1.00  0.00    0.00  neptune  19
2       0.00    0.03    0.04    0.03    0.01  0.00    0.01   normal  21
3       0.00    0.00    0.00    0.00    0.00  0.00    0.00   normal  21
4       0.07    0.00    0.00    0.00    0.00  1.00    1.00  neptune  21
...      ...     ...     ...     ...     ...   ...     ...      ...  ..
125967  0.06    0.00    0.00    1.00    1.00  0.00    0.00  neptune  20
125968  0.01    0.01    0.00    0.00    0.00  0.00    0.00   normal  21
125969  0.06    0.00    0.00    0.72    0.00  0.01    0.00   normal  18
125970  0.05    0.00    0.00    1.00    1.00  0.00    0.00  neptune  20
125971  0.03    0.30    0.00    0.00    0.00  0.00    0.00   normal  21

[125972 rows x 43 columns]

# Informations sur le dataset

In [14]:
# Nb Lignes et colonnes du data
print("Taille initial du dataset:",data.shape)

Taille initial du dataset: (22543, 43)

In [15]:
# Informations sur le DataFrame
print(data.info())

   0   tcp   private   REJ    0.1    0.2  0.3  0.4  0.5  0.6  ...  0.04.1  \
0  0   tcp   private   REJ      0      0    0    0    0    0  ...    0.00
1  2   tcp  ftp_data    SF  12983      0    0    0    0    0  ...    0.61
2  0  icmp     eco_i    SF     20      0    0    0    0    0  ...    1.00
3  1   tcp    telnet  RSTO      0     15    0    0    0    0  ...    0.31
4  0   tcp      http    SF    267  14515    0    0    0    0  ...    1.00

   0.06.1  0.00.3  0.00.4  0.00.5  0.00.6  1.00.2  1.00.3  neptune  21
0    0.06    0.00    0.00    0.00     0.0    1.00    1.00  neptune  21
1    0.04    0.61    0.02    0.00     0.0    0.00    0.00   normal  21
2    0.00    1.00    0.28    0.00     0.0    0.00    0.00    saint  15
3    0.17    0.03    0.02    0.00     0.0    0.83    0.71    mscan  11
4    0.00    0.01    0.03    0.01     0.0    0.00    0.00   normal  21

[5 rows x 43 columns]

In [17]:
# Afficher les premières 5 lignes du DataFrame
print(data.head())

   0   tcp   private   REJ    0.1    0.2  0.3  0.4  0.5  0.6  ...  0.04.1  \
0  0   tcp   private   REJ      0      0    0    0    0    0  ...    0.00
1  2   tcp  ftp_data    SF  12983      0    0    0    0    0  ...    0.61
2  0  icmp     eco_i    SF     20      0    0    0    0    0  ...    1.00
3  1   tcp    telnet  RSTO      0     15    0    0    0    0  ...    0.31
4  0   tcp      http    SF    267  14515    0    0    0    0  ...    1.00

   0.06.1  0.00.3  0.00.4  0.00.5  0.00.6  1.00.2  1.00.3  neptune  21
0    0.06    0.00    0.00    0.00     0.0    1.00    1.00  neptune  21
1    0.04    0.61    0.02    0.00     0.0    0.00    0.00   normal  21
2    0.00    1.00    0.28    0.00     0.0    0.00    0.00    saint  15
3    0.17    0.03    0.02    0.00     0.0    0.83    0.71    mscan  11
4    0.00    0.01    0.03    0.01     0.0    0.00    0.00   normal  21

[5 rows x 43 columns]

In [18]:
# Statistiques descriptives sur le data
print(data.describe())

                  0           0.1           0.2           0.3           0.4  \
count  22543.000000  2.254300e+04  2.254300e+04  22543.000000  22543.000000
mean     218.868784  1.039591e+04  2.056110e+03      0.000311      0.008428
std     1407.207069  4.727969e+05  2.121976e+04      0.017619      0.142602
min        0.000000  0.000000e+00  0.000000e+00      0.000000      0.000000
25%        0.000000  0.000000e+00  0.000000e+00      0.000000      0.000000
50%        0.000000  5.400000e+01  4.600000e+01      0.000000      0.000000
75%        0.000000  2.870000e+02  6.010000e+02      0.000000      0.000000
max    57715.000000  6.282565e+07  1.345927e+06      1.000000      3.000000

                0.5           0.6           0.7           0.8           0.9  \
count  22543.000000  22543.000000  22543.000000  22543.000000  22543.000000
mean       0.000710      0.105399      0.021648      0.442222      0.119904
std        0.036474      0.928448      0.150331      0.496661      7.269758
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      1.000000      0.000000
max        3.000000    101.000000      4.000000      1.000000    796.000000

       ...          10.1        0.04.1        0.06.1        0.00.3  \
count  ...  22543.000000  22543.000000  22543.000000  22543.000000
mean   ...    140.756332      0.608747      0.090541      0.132267
std    ...    111.783059      0.435681      0.220722      0.306274
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...     15.000000      0.070000      0.000000      0.000000
50%    ...    168.000000      0.920000      0.010000      0.000000
75%    ...    255.000000      1.000000      0.060000      0.030000
max    ...    255.000000      1.000000      1.000000      1.000000

             0.00.4        0.00.5        0.00.6        1.00.2        1.00.3  \
count  22543.000000  22543.000000  22543.000000  22543.000000  22543.000000
mean       0.019639      0.097818      0.099430      0.233351      0.226649
std        0.085396      0.273144      0.281872      0.387204      0.400851
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.010000      0.000000      0.000000      0.360000      0.170000
max        1.000000      1.000000      1.000000      1.000000      1.000000

                 21
count  22543.000000
mean      18.017833
std        4.270409
min        0.000000
25%       17.000000
50%       20.000000
75%       21.000000
max       21.000000

[8 rows x 39 columns]

In [22]:
# Vérifier les lignes dupliquées dans le DataFrame
duplicates = data[data.duplicated()]

# Afficher le nombre total de lignes dupliquées
print(f"Nombre total de lignes dupliquées : {len(duplicates)}")

Nombre total de lignes dupliquées : 0

In [20]:
# Nombre de valeurs uniques dans chaque colonne
print(data.nunique())

0           624
tcp           3
private      64
REJ          11
0.1        1149
0.2        3650
0.3           2
0.4           3
0.5           4
0.6          16
0.7           5
0.8           2
0.9          23
0.10          2
0.11          3
0.12         20
0.13          9
0.14          4
0.15          5
0.16          1
0.17          2
0.18          2
229         495
10          457
0.00         88
0.00.1       82
1.00         90
1.00.1       93
0.04         75
0.06         99
0.00.2       84
255         256
10.1        256
0.04.1      101
0.06.1      101
0.00.3      101
0.00.4       58
0.00.5       99
0.00.6      101
1.00.2      101
1.00.3      100
neptune      38
21           22
dtype: int64

AttributeError: 'DataFrame' object has no attribute 'duplicate'

In [31]:
# Vérifier les valeurs manquantes
null_values=data.isnull()
# Afficher le nombre total de valeurs manquantes
print(f"Nombre total de valeurs manquantes : {len(null_values)}")

# Vérifier si des valeurs manquantes existent dans chaque ligne
rows_with_missing_values = null_values.any(axis=1)

# Afficher les lignes avec des valeurs manquantes
rows_with_missing_values = data[rows_with_missing_values]
print("Lignes avec des valeurs manquantes :")
print(rows_with_missing_values)

# Vérifier si des valeurs manquantes existent dans chaque colonne
columns_with_missing_values = null_values.any()

# Afficher les colonnes avec des valeurs manquantes
columns_with_missing_values = data.columns[columns_with_missing_values]
print("Colonnes avec des valeurs manquantes :")
print(columns_with_missing_values)

Nombre total de valeurs manquantes : 22543
Lignes avec des valeurs manquantes :
Empty DataFrame
Columns: [0, tcp, private, REJ, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.10, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 229, 10, 0.00, 0.00.1, 1.00, 1.00.1, 0.04, 0.06, 0.00.2, 255, 10.1, 0.04.1, 0.06.1, 0.00.3, 0.00.4, 0.00.5, 0.00.6, 1.00.2, 1.00.3, neptune, 21]
Index: []

[0 rows x 43 columns]
Colonnes avec des valeurs manquantes :
Index([], dtype='object')